body {
    background-color: #f0f0f0;
}

.container, .container-fluid {
    margin-top: 10px;
    margin-bottom: 10px;
}

.mdl-textfield, .mdl-card__supporting-text {
    width: 100% !important;
}

.demo-card-square.mdl-card {
    width: 100%;
}

.demo-ribbon {
    width: 100%;
    height: 30vh;
    background-color: #3F51B5;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.demo-ribbon-main {
    margin-top: -25vh;
}

.login-card-square {
    width: 100%;
    max-width: 380px;
    margin: 0 auto;
}
.login-body{
    background: url("https://www.oxygenna.com/wp-content/uploads/2015/11/18.jpg") no-repeat;
    background-size: cover;
}
.login-box {
    margin-top: 10vh;
}

.login-box .material-icons {
    margin-top: 22px
}

.login-action {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    margin-top: 10px;
}

.login-rememberme{
    margin-left: 4px;
}